body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e9edee;
}

header .logo {
  background-color: #222f3f;
  margin: 0;
}
.logo img {
  width: 130px;
  margin: 1em 2em;
}
menu {
  list-style: none;
  margin: 0.5em 2em;
}
menu li {
  display: inline;
  margin-right: 1em;
}

menu a {
  text-decoration: none;
  color: white;
}

.navigationbar {
  background-color: #364759;
  padding: 0.5em;
}

main {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.advertising {
  color: white;
  text-align: center;
}

.advertising-smallBar {
  background-color: #f66500;
  margin: 1em 0;
  padding: 0.35em;
  font-size: 12px;
}

.advertising-largeBar {
  padding: 2.5em 2em 2em 2em;
  background-image: url(../images/bg-image.png);

 background-size: auto 19vh;
 background-repeat:repeat;
  
 
}
.advertising-largeBar h1 {
  font-weight: bold;
  margin-bottom: 1em;
}

.advertising-largeBar p {
  font-size: 12px;
}

#blockOne img {
  width: 23.5%;
  display: inline-block;
  vertical-align: top;
  border-radius: 6px;
  height: 45vh;
  box-shadow: 9px 7px 4px 5px rgba(137, 139, 139, 0.12);
}

.img-blockOne :nth-child(1),
.img-blockOne :nth-child(2),
.img-blockOne :nth-child(3) {
  margin-right: 1em;
}

#blockOne {
  background-color: white;
  padding: 1em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.text {
  margin-bottom: 1em;
}
.text h4 {
  display: inline-block;
  font-size: 14px;
}
.text p {
  display: inline-block;
  margin-left: 1em;
}

.text a {
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: #18686c;
}

.img-blockTwo img,
#blockThree img {
  width: 100%;
  margin-top: 1em;
}

#blockTwo {
  text-align: center;
}

#blockThree {
  text-align: center;
}

.backToTop {
  background-color: #364759;
  padding: 0.5em;
  text-align: center;
}

.backToTop a {
  color: white;
  font-size: 12px;
}

footer {
  text-align: center;
}
footer img {
  width: 120px;
}
.footer-logo {
  background-color: #222f3f;
  padding: 2em;
}
